<template>
    <div>
        <v-container fluid>
            <v-col cols="6" sm="200" md="200" style="margin-left: 25%">
                <v-text-field
                        label="Название компании или стартапа"
                        v-model='claim.nameCompany'
                        outlined
                />
                <v-text-field
                        label="ФИО"
                        v-model='claim.fio'
                        outlined
                />
                <v-text-field
                        label="Описание вакансии"
                        v-model='claim.description'
                        outlined
                />
                <v-text-field
                        label="Контактная почта (E-mail)"
                        v-model='claim.contactEmail'
                        outlined
                />
                <v-text-field
                        label="Номер телефона"
                        v-model='claim.contactNumber'
                        type="number"
                        outlined
                />
                <v-text-field
                        label="Требования к вакансии"
                        v-model='claim.requirements'
                        outlined
                />


                <div style="margin-left: 35%">
                    <v-btn class="ma-2" @click="save"  tile outlined color="teal" width="45%">
                        <v-icon left>done</v-icon> Сохранить
                    </v-btn>
                </div>
            </v-col>
        </v-container>


    </div>
</template>

<script>
    import {mapActions} from 'vuex';

    export default {
        name: 'claim-form',
        props: ['claimAttr'], fileChecker: 0,
        data() {
            return {
                claim: {
                    id: '',
                    nameCompany: '',
                    fio: '',
                    OP: '',
                    course: '',
                    contactEmail: '',
                    contactNumber: '',
                    projectName: '',
                    description: '',
                    requirements: '',
                    scientificDirector: '',
                    files: []
                },
                rows: []
            }
        },
        watch: {
            claimAttr(newVal, oldVal) {
                this.nameCompany = newVal.nameCompany;
                this.requirements = newVal.requirements;
                this.scientificDirector = newVal.scientificDirector;
                this.projectName = newVal.projectName;
                this.contactNumber = newVal.contactNumber;
                this.course = newVal.course;
                this.OP = newVal.OP;
                this.fio = newVal.fio;
                this.contactEmail = newVal.contactEmail;
                this.description = newVal.description;
                this.id = newVal.id;
            }
        },
        methods: {
            ...mapActions(['updateClaimAction', 'addClaimAction']),
            save() {
                console.log(this.file);
                const claim = {
                    id: this.claim.id,
                    nameCompany: this.claim.nameCompany,
                    requirements: this.claim.requirements,
                    contactNumber: this.claim.contactNumber,
                    description: this.claim.description,
                    contactEmail: this.claim.contactEmail,
                    fio: this.claim.fio,
                    OP: this.claim.OP,
                    course: this.claim.course,
                    projectName: this.claim.projectName,
                    scientificDirector: this.claim.scientificDirector,
                    files: this.rows,
                };
                this.addClaimAction(claim);
                this.claim.scientificDirector = '',
                    this.claim.nameCompany = '',
                    this.claim.requirements = '',
                    this.claim.projectName = '',
                    this.claim.contactNumber = '',
                    this.claim.course = '',
                    this.claim.OP = '',
                    this.claim.fio = '',
                    this.claim.contactEmail = '';
                this.claim.description = '';
                this.claim.id = '',
                    this.claim.files = ''
            },
            addRow: function () {
                var elem = document.createElement('tr');
                this.rows.push({
                    numbersOfCopy: '',
                    file: ''
                });
            },
            removeElement: function (index) {
                this.rows.splice(index, 1);
            },
            setFilename: function (event, row) {
                row.file = event.target.files[0]
            },
            previewFiles(event) {
                console.log(event.target.files);
                this.file = event.target.files
            },
            handleFilesUpload() {
                this.files = this.$refs.files.files;
            }

        }
    }
</script>

<style>
</style>
