<template>
    <body>
    <p style="font-size: 2.4em; text-align: center; margin-top: 2%; color: darkgoldenrod">
        <strong>ИНСТРУКЦИЯ ПО ИСПОЛЬЗОВАНИЮ СЕРВИСА</strong>
    </p>
    <p style="font-size: 1.8em; text-align: center; margin-top: 2%; color: darkgoldenrod">
        1. Вакансии
    </p>
    <p style="font-size: 1.2em; text-align: center; margin-top: 1%; margin-left: 10%; margin-right: 10%">
        Здесь пользователю представлены все открытые вакансии, на которые можно откликнуться. В каждой карточке вакансии прописаны: Общие требования и описание. Если пользователь хочет подать заявку на эту вакансию, ему нужно нажать на кнопку "Откликнуться", после чего его заявка создастся и его резюме отправится в базу.
    </p>
    <p style="font-size: 1.8em; text-align: center; margin-top: 1%; color: darkgoldenrod">
        2. Мои заявки
    </p>
    <p style="font-size: 1.2em; text-align: center; margin-top: 1%; margin-left: 10%; margin-right: 10%">
        Здесь пользователю представлена таблица со всеми его поданными заявками на вакансии. Пользователь может отслеживать статус заявки, также в случае чего, ответ о статусе придёт к пользователю на электронную почту.
    </p>
    <p style="font-size: 1.8em; text-align: center; margin-top: 1%; color: darkgoldenrod">
        3. Мои навыки
    </p>
    <p style="font-size: 1.2em; text-align: center; margin-top: 1%; margin-left: 10%; margin-right: 10%">
        Здесь появляется диалоговое окно, где пользователь должен написать все свои ключевые навыки или их отредактировать, которыми он обладает (резюме). После чего они сохраняются в базу данных этого пользователя.
    </p>
    <p style="font-size: 1.8em; text-align: center; margin-top: 1%; color: darkgoldenrod">
        4. Создать свою вакансию
    </p>
    <p style="font-size: 1.2em; text-align: center; margin-top: 1%; margin-left: 10%; margin-right: 10%">
        Здесь пользователь может создать свою вакансию для своего проекта. Перед созданием ему нужно заполнить такие поля, как "Название компании или стартапа", "ФИО", "Описание вакансии", "Контактная почта", "Номер телефона", "Требования к вакансии". После чего его вакансия сохранится в реестре всех вакансий и будет доступна всем другим пользователям.
    </p>
    <p style="font-size: 1.8em; text-align: center; margin-top: 1%; color: darkgoldenrod">
        5. Список поданных заявок на мою вакансию
    </p>
    <p style="font-size: 1.2em; text-align: center; margin-top: 1%; margin-left: 10%; margin-right: 10%">
        Здесь пользователю представлена панель управления всеми заявками, которые были поданы на его вакансию. Пользователю в таблице также показывается процент соответствия, подходит ли специалист к данной вакансии. После чего Пользователь может либо "Принять", либо "Отклонить" данную заявку, где уже в свою очередь специалисту придёт уведомление на электронную почту об ответе.
    </p>
<!--    <p style="font-size: 2.4em; text-align: center; margin-top: 2%; color: darkgoldenrod">-->
<!--        <strong>КАКИМ ДОЛЖЕН БЫТЬ ФАЙЛ С МОДЕЛЬЮ</strong>-->
<!--    </p>-->
<!--    <p style="font-size: 1.8em; text-align: center; margin-top: 1%; color: darkgoldenrod">-->
<!--        Формат файла-->
<!--    </p>-->
<!--    <p style="font-size: 1.2em; text-align: center; margin-top: 1%; margin-left: 10%; margin-right: 10%">-->
<!--        <strong> .STL </strong>-->
<!--    </p>-->
<!--    <p style="font-size: 1.8em; text-align: center; margin-top: 1%; color: darkgoldenrod">-->
<!--        Программы для экспорта в STL-->
<!--    </p>-->
<!--    <p style="font-size: 1.2em; text-align: center; margin-top: 1%; margin-left: 10%; margin-right: 10%">-->
<!--        Autodesk 3ds Max; Blender; Solid Works; NX6; Компас 3D; Fusion-->
<!--    </p>-->
<!--    <p style="font-size: 1.8em; text-align: center; margin-top: 1%; color: darkgoldenrod">-->
<!--        Размеры файла-->
<!--    </p>-->
<!--    <p style="font-size: 1.2em; text-align: center; margin-top: 1%; margin-left: 10%; margin-right: 10%">-->
<!--        Файл не должен превышать 100Мб. Чем меньше размер и проще модель, тем лучше.-->
<!--    </p>-->
<!--    <p style="font-size: 2.4em; text-align: center; margin-top: 2%; color: darkgoldenrod">-->
<!--        <strong>ОСОБЕННОСТИ МОДЕЛИРОВАНИЯ ДЛЯ ПЕЧАТИ</strong>-->
<!--    </p>-->
<!--    <p style="font-size: 1.8em; text-align: center; margin-top: 1%; color: darkgoldenrod">-->
<!--        Размеры модели-->
<!--    </p>-->
<!--    <p style="font-size: 1.2em; text-align: center; margin-top: 1%; margin-left: 10%; margin-right: 10%">-->
<!--        Максимально возможная область печати составляет круг диаметром 400 мм. Рекомендуемые размеры моделей - 197 х 215 х 305 мм.-->
<!--    </p>-->
<!--    <p style="font-size: 1.8em; text-align: center; margin-top: 1%; color: darkgoldenrod">-->
<!--        Минимальная толщина объектов-->
<!--    </p>-->
<!--    <p style="font-size: 1.2em; text-align: center; margin-top: 1%; margin-left: 10%; margin-right: 10%">-->
<!--        Минимальные размеры и толщина объектов - не менее 1,2 мм.-->
<!--    </p>-->
    <p style="font-size: 1.2em; margin-top: 8%; margin-left: 13%; margin-right: 10%; color: darkgoldenrod">
        Поддержка:
    </p>
    <p style="font-size: 1.2em; margin-left: 13%; margin-right: 10%">
        selectionspecialistscampaign@gmail.com
    </p>

    </body>
</template>

<script>
    export default {
        name: "Instruction"
    }
</script>

<style scoped>

</style>
