<template>

  <div v-if="claim.user.id === this.profile().id">
    <p style="font-size: 2em; text-align: center; margin-top: 2%"><strong>Вакансии</strong></p>

    <v-card
        class="mx-auto"
        color="#26c6da"
        dark
        max-width="800"
    >
      <v-card-title>
        <v-icon
            large
            left
        >
          account_balance
        </v-icon>
        <span class="title font-weight-light">Twitter</span>
      </v-card-title>

      <v-card-text class="headline font-weight-bold">
        "Turns out semicolon-less style is easier and safer in TS because most gotcha edge cases are type invalid as well."
      </v-card-text>

      <v-card-actions>
        <v-list-item class="grow">
          <v-list-item-avatar color="grey darken-3">
            <v-img
                class="elevation-6"
                alt=""
                src="https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortCurly&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=Hoodie&clotheColor=White&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Default&skinColor=Light"
            ></v-img>
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title>{{claim.fio}}</v-list-item-title>
          </v-list-item-content>
          <v-row
              align="center"
              justify="end"
          >
            <v-btn class="ma-2" @click="save" tile outlined width="40%">
              <v-icon left>pan_tool</v-icon> Откликнуться
            </v-btn>
          </v-row>
        </v-list-item>
      </v-card-actions>
    </v-card>
  </div>

</template>

<script>
import {mapActions, mapState} from 'vuex'
export default {
  name: "Vacancies",
  props: ['claim', 'editClaim'],
  data: () => ({
    show: false
  }),
  methods: {
    ...mapActions(['removeClaimAction']),
    computed: mapState(['profile']),
    edit() {
      this.editClaim(this.claim)
    },
    del() {
      this.removeClaimAction(this.claim)
    },
    profile() {
      return this.$store.state.profile
    }

  }
}
</script>

<style scoped>

</style>
